---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-line-height: 1.5;
$spacing-unit:     30px;

h1, h2 {
   font-weight: 300;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
}

.site-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 10px;
}

.site-title, .site-title:visited {
    font-size: 40px;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
}
